.pager
{ 
    list-style: none;

    margin: 0px;

    padding: 0px;
}

.pager:after 
{
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden;
}

.pager li
{
    float: left;

    padding: 0px;

    margin-right: 3px;
}

.pager a, 
.pager b
{
    color: #313131;

    display: block;

    padding: 1px 5px;

    text-decoration: none;

    font-weight: normal;

    background-color: #F1F7E2;

    border: 1px solid #D0DBB3;

    border-radius: 5px;
}

.pager a:hover,
.pager b
{
    background-color: #AACD4E;
    border: 1px solid #AACD4E;
    color: white;
}