<table>
<thead>
    <tr>
        <th scope="col">Dato</th>
        <th scope="col">Valor</th>
    </tr>
</thead>
<tbody>
    {% for key in bag.keys|sort %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ bag.get(key)|yaml_dump }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
